.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: .9em;
}

.nav li {
	float: left;
	margin: 10px;
}

li {
	display: inline;
	font-size: .90em;
}

.nav {
	width:100%;
	min-height:100%;
	float: right;
	width: 350px;
	margin-top: 1%;
}

#signin {
	background-color: #3e77fa;
	color: white;
	width: 70px;
	height: 30px;
	font-size: 1em;
	margin-top: -10px;
	border: none;
}

#logo {
	clear: both;
	width: 100%;
	margin-left: 40%;
	padding-top: 10%;
	padding-bottom: 10px;
}
#searchbox input {
	text-align: left;
	width: 550px;
	height: 25px;
	margin-left: 30%;
	margin-top: 10px;
}

button {
	background-color: #f2f2f2;
	margin-top: 10px;
	border-width: 1px;
	border: 1px solid #dcdcdc;
	margin-left: 10px;
	height: 25px;
	text-align; center;
	font-weight: bold;
	display: inline;
}

#buttons {
	margin-left: 41%;
	margin-top: 10px;
}

footer {
	font-family: Arial, sans-serif;
	clear: both;
	height: 40px;
	background-color: #f5f5f5;
	color: gray;
	font-size: .9em;
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #dcdcdc;
}

footer ul {
	margin: 12px;
	padding: 0;
	list-style-type:none;
}

#left_footer li {
	float: left;
	text-align: left;
	display: inline;
	margin-right: 15px;
	margin-left: 15px;
}

#right_footer li {
	float: right;
	text-align: left;
	display: inline;
	margin-right: 15px;
	margin-left: 15px;
}
